In [8]:
# importting
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [9]:
os.chdir(r'C:\Users\meher\OneDrive\Desktop\Git')

In [10]:
os.listdir()

['Employee_Salary_Dataset.csv',
 'Login_page with js.zip',
 'simple linear regression model to predict employee salaries .ipynb']

In [11]:
df=pd.read_csv('Employee_Salary_Dataset.csv')

In [13]:
df.head()

   ID  Experience_Years  Age  Gender  Salary
0   1                 5   28  Female  250000
1   2                 1   21    Male   50000
2   3                 3   23  Female  170000
3   4                 2   22    Male   25000
4   5                 1   17    Male   10000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                35 non-null     int64
 1   Experience_Years  35 non-null     int64
 2   Age               35 non-null     int64
 3   Gender            35 non-null     object
 4   Salary            35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

In [15]:
df.shape

(35, 5)

In [24]:
#Encoding
dummies=pd.get_dummies(df['Gender']).astype(int)

In [26]:
dummies.head()

   Female  Male
0       1     0
1       0     1
2       1     0
3       0     1
4       0     1

In [28]:
data=pd.concat([df,dummies],axis=1)

In [30]:
data.head()

   ID  Experience_Years  Age  Gender  Salary  Female  Male
0   1                 5   28  Female  250000       1     0
1   2                 1   21    Male   50000       0     1
2   3                 3   23  Female  170000       1     0
3   4                 2   22    Male   25000       0     1
4   5                 1   17    Male   10000       0     1

In [32]:
#Removing the 
final_data=data.drop(["Gender",'Female'],axis=1)

In [34]:
final_data.head()

   ID  Experience_Years  Age  Salary  Male
0   1                 5   28  250000     0
1   2                 1   21   50000     1
2   3                 3   23  170000     0
3   4                 2   22   25000     1
4   5                 1   17   10000     1

#Backward elimination is a technique used in multiple linear regression to select a subset of independent variables (features) that are most relevant for predicting the dependent variable (target).

In [39]:
import statsmodels.api as sm
x=final_data.drop('Salary',axis=1)
y=final_data['Salary']

In [45]:
X=sm.add_constant(x)
model=sm.OLS(endog=y,exog=X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.506
Model:                            OLS   Adj. R-squared:                  0.441
Method:                 Least Squares   F-statistic:                     7.697
Date:                Wed, 13 Mar 2024   Prob (F-statistic):           0.000216
Time:                        16:21:54   Log-Likelihood:                -560.72
No. Observations:                  35   AIC:                             1131.
Df Residuals:                      30   BIC:                             1139.
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.717e+06   2.41e+06     -0.713      0.481   -6.63e+06     3.2e+06
ID                5.469e+04   4.15e+04      1.318      0.197      -3e+04    1.39e+05
Experience_Years  2.672e+05   2.37e+05      1.126      0.269   -2.18e+05    7.52e+05
Age               1895.3291   1.22e+05      0.016      0.988   -2.47e+05    2.51e+05
Male              5.476e+05   8.09e+05      0.677      0.504    -1.1e+06     2.2e+06
==============================================================================
Omnibus:                        1.606   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.448   Jarque-Bera (JB):                1.085
Skew:                           0.431   Prob(JB):                        0.581
Kurtosis:                       3.002   Cond. No.                         265.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Step 3-6: Backward Elimination
while max(model.pvalues) > 0.05:
    max_p_value_index = model.pvalues.idxmax()
    X.drop(columns=[max_p_value_index], inplace=True)
    model = sm.OLS(y, X).fit()

In [51]:
model=sm.OLS(y,X).fit()

In [52]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.506
Model:                            OLS   Adj. R-squared:                  0.459
Method:                 Least Squares   F-statistic:                     10.60
Date:                Wed, 13 Mar 2024   Prob (F-statistic):           5.87e-05
Time:                        16:25:54   Log-Likelihood:                -560.72
No. Observations:                  35   AIC:                             1129.
Df Residuals:                      31   BIC:                             1136.
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.683e+06   9.66e+05     -1.742      0.091   -3.65e+06    2.87e+05
ID                5.469e+04   4.08e+04      1.340      0.190   -2.85e+04    1.38e+05
Experience_Years  2.708e+05   5.58e+04      4.855      0.000    1.57e+05    3.85e+05
Male              5.479e+05   7.95e+05      0.689      0.496   -1.07e+06    2.17e+06
==============================================================================
Omnibus:                        1.632   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.442   Jarque-Bera (JB):                1.102
Skew:                           0.435   Prob(JB):                        0.576
Kurtosis:                       3.006   Cond. No.                         62.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [54]:
#the male Feature of p>sl,so I am goining to remove
X=X.drop("Male",axis=1)

In [55]:
X

    const  ID  Experience_Years
0     1.0   1                 5
1     1.0   2                 1
2     1.0   3                 3
3     1.0   4                 2
4     1.0   5                 1
5     1.0   6                25
6     1.0   7                19
7     1.0   8                 2
8     1.0   9                10
9     1.0  10                15
10    1.0  11                 4
11    1.0  12                 6
12    1.0  13                14
13    1.0  14                11
14    1.0  15                 2
15    1.0  16                 4
16    1.0  17                10
17    1.0  18                15
18    1.0  19                 2
19    1.0  20                10
20    1.0  21                15
21    1.0  22                 4
22    1.0  23                 5
23    1.0  24                 1
24    1.0  25                 4
25    1.0  26                 3
26    1.0  27                 1
27    1.0  28                27
28    1.0  29                19
29    1.0  30                 2
30    1.0  31                10
31    1.0  32                15
32    1.0  33                20
33    1.0  34                19
34    1.0  35                16

In [56]:
model=sm.OLS(endog=y,exog=X).fit()

In [57]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.499
Model:                            OLS   Adj. R-squared:                  0.468
Method:                 Least Squares   F-statistic:                     15.93
Date:                Wed, 13 Mar 2024   Prob (F-statistic):           1.58e-05
Time:                        16:32:34   Log-Likelihood:                -560.99
No. Observations:                  35   AIC:                             1128.
Df Residuals:                      32   BIC:                             1133.
Df Model:                           2
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.377e+06   8.51e+05     -1.618      0.115   -3.11e+06    3.56e+05
ID                5.493e+04   4.05e+04      1.357      0.184   -2.75e+04    1.37e+05
Experience_Years  2.661e+05   5.49e+04      4.846      0.000    1.54e+05    3.78e+05
==============================================================================
Omnibus:                        1.923   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.382   Jarque-Bera (JB):                1.330
Skew:                           0.477   Prob(JB):                        0.514
Kurtosis:                       3.021   Cond. No.                         49.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [58]:
#the ID (feature) of p>sl,so I am goining to remove
X=X.drop("ID",axis=1)

In [60]:
X.head()

   const  Experience_Years
0    1.0                 5
1    1.0                 1
2    1.0                 3
3    1.0                 2
4    1.0                 1

In [64]:
#Fit the Full Model
model=sm.OLS(y,X).fit()

In [65]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.470
Model:                            OLS   Adj. R-squared:                  0.454
Method:                 Least Squares   F-statistic:                     29.27
Date:                Wed, 13 Mar 2024   Prob (F-statistic):           5.50e-06
Time:                        16:36:48   Log-Likelihood:                -561.97
No. Observations:                  35   AIC:                             1128.
Df Residuals:                      33   BIC:                             1131.
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -5.882e+05   6.29e+05     -0.935      0.357   -1.87e+06    6.92e+05
Experience_Years  2.878e+05   5.32e+04      5.410      0.000     1.8e+05    3.96e+05
==============================================================================
Omnibus:                        3.507   Durbin-Watson:                   1.796
Prob(Omnibus):                  0.173   Jarque-Bera (JB):                2.498
Skew:                           0.645   Prob(JB):                        0.287
Kurtosis:                       3.224   Cond. No.                         18.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [66]:
# WE can Understaand Experience_Years Feature is the most sign feature for Price

(    ID  Experience_Years  Age  Male
 0    1                 5   28     0
 1    2                 1   21     1
 2    3                 3   23     0
 3    4                 2   22     1
 4    5                 1   17     1
 5    6                25   62     1
 6    7                19   54     0
 7    8                 2   21     0
 8    9                10   36     0
 9   10                15   54     0
 10  11                 4   26     0
 11  12                 6   29     1
 12  13                14   39     1
 13  14                11   40     1
 14  15                 2   23     1
 15  16                 4   27     0
 16  17                10   34     0
 17  18                15   54     0
 18  19                 2   21     1
 19  20                10   36     1
 20  21                15   54     1
 21  22                 4   26     1
 22  23                 5   29     1
 23  24                 1   21     0
 24  25                 4   23     0
 25  26                 3   22     0
 26  27                 1   18     1
 27  28                27   62     0
 28  29                19   54     0
 29  30                 2   21     0
 30  31                10   34     1
 31  32                15   54     1
 32  33                20   55     0
 33  34                19   53     0
 34  35                16   49     1,
 0       250000
 1        50000
 2       170000
 3        25000
 4        10000
 5      5001000
 6       800000
 7         9000
 8        61500
 9       650000
 10      250000
 11     1400000
 12     6000050
 13      220100
 14        7500
 15       87000
 16      930000
 17     7900000
 18       15000
 19      330000
 20     6570000
 21       25000
 22     6845000
 23        6000
 24        8900
 25       20000
 26        3000
 27    10000000
 28     5000000
 29        6100
 30       80000
 31      900000
 32     1540000
 33     9300000
 34     7600000
 Name: Salary, dtype: int64)

In [70]:
final_data.head()

   ID  Experience_Years  Age  Salary  Male
0   1                 5   28  250000     0
1   2                 1   21   50000     1
2   3                 3   23  170000     0
3   4                 2   22   25000     1
4   5                 1   17   10000     1

In [72]:
#
x=final_data['Experience_Years']
x.head()

0    5
1    1
2    3
3    2
4    1
Name: Experience_Years, dtype: int64

In [75]:
y=final_data['Salary']
y.head()

0    250000
1     50000
2    170000
3     25000
4     10000
Name: Salary, dtype: int64

In [76]:
# spliting the data into training dataset and testing dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [77]:
#train dataset

In [79]:
x_train.head()

2      3
11     6
27    27
25     3
34    16
Name: Experience_Years, dtype: int64

In [80]:
y_train.head()

2       170000
11     1400000
27    10000000
25       20000
34     7600000
Name: Salary, dtype: int64

In [81]:
#Test Dataset
x_test.head()

29     2
20    15
16    10
28    19
22     5
Name: Experience_Years, dtype: int64

In [82]:
y_test.head()

29       6100
20    6570000
16     930000
28    5000000
22    6845000
Name: Salary, dtype: int64

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [84]:
# Create a Linear Regression model
model = LinearRegression()

In [88]:
# Fit the model using the training data
model.fit(np.array(x_train).reshape(-1,1), y_train)

LinearRegression()

In [91]:
# Make predictions on the testing data
y_pred = model.predict(np.array(x_test).reshape(-1,1))

In [92]:
y_pred

array([-282687.80288737, 3504099.68624791, 2047642.95965742,
       4669265.0675203 ,  591186.23306693,  299894.88774883,
        299894.88774883])

In [93]:
model.score(np.array(x_train).reshape(-1,1),y_train)

0.5176529341613223

In [95]:
Mse=mean_squared_error(y_test,y_pred)

In [97]:
Mse

7142807839190.073

In [98]:
from sklearn.metrics import mean_absolute_error
Mae=mean_absolute_error(y_test,y_pred)

In [100]:
Mae

1617095.6501724732